*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    padding: 1rem;
    text-align: center;

}

h2{
    border: 8px solid white;
    padding: .8rem;
    width:fit-content;
    margin: 1rem auto;
    border-radius: 40px;
    color: white;

    /* border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */

}

li{
    display: inline-block;
    margin:.5rem 7% ;
   
}

ul li a{
    text-decoration: none;
}

ul{
    text-align: center;
}

nav{

    background-color:rgb(224, 222, 222);
    

}
