*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;

}

main{
    position: relative;
    margin-top: 3rem;
    border: 2px solid rgb(4, 44, 66);
    width: 70%;
    height: 80%;
}

.hub{
    /* position: relative; */
    border: 2px solid red;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.top-score-area{
    position: absolute;
    right: 1px;
    top: 5px;
    color: #362FD9;
    font-size: 24px;
    margin: .5rem 1rem 0rem 0rem;
    font-weight: 700;
}

.scores{
    font-size: 28px;
    font-weight: 700;
}

.sentence {
    width: 80%;
    text-align: center;
    border-bottom: 1px solid gray;
    margin-top: 2rem ;
    font-size: 16px;
    font-weight: 300;
}

.select{
    margin-top: 2rem ;
    display: flex;
    /* justify-content: space-around; */
    gap: 10rem;
    font-size: 64px;
}

