*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.container{
    background-image: url(./imgs/SPACE.png);
    height: 100vh;
    position: relative;
    padding-top: 2.5rem;

    
}



 .meteour{
    /* border: 5px solid red; */
    
    background-image: url(./imgs/METEOUR.png);
    height: 90vh;
    width: 1000%;
    animation: abc 30s linear infinite; 
 }
    
        
 .spaceship img{
    width: 150px;
 }
.spaceship{
    
    position: absolute;
    bottom: 150px;
    
}

.spaceship:active{
    /* animation: up 10s linear infinite; */
    animation: up 4s linear 1;

}

@keyframes abc {
    100%{
        transform: translate(-8000px);
    }
}

@keyframes up {
   
   

    50%{
        transform: translateY(-400px);
    }

    
}

