*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
}

.divheader{
    text-align: right;
    padding-bottom: 1rem;
}

.divheaderlinks{
    display: inline-block;
    
    
}

.divheaderbar{
    display: inline-block;

}



.divheaderimg{
    display: inline-block;
    

}

.headerlinks{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.headerlinks:hover{
    text-decoration: underline;
}

.headerbar{
    color: white;
}
.headerbar:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 5px;
    cursor: pointer;
}

.headerimg{
    height: 32px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* !----------Google-------- */

.google{
    text-align: center;
    margin-top: 5rem;
    
}








/*!-------------section----------- */

div.inline-block{
    display: inline-block;
}

.section{
    position: relative;
    text-align: center;
    border: 1px solid gray;
    border-radius: 10rem;
    /* height: 39px;
    width: 560.4px; */
    height: 45px;
    width: 585px;
    margin: auto;
    margin-top: 1.5rem;
}

.section:hover{
    background-color: #303134;
    border: 1px solid #303134;
    box-shadow: rgba(0,0,0,0.5) 1.25px 1.25px 5px 1px;
    cursor:text;
}

.section input{
    height: 43px;
    background-color: #202124;
    background-color: red;
    border: none;
}

.searchicon{
    color: rgb(163, 162, 162);
    font-size: small;
    position: absolute;
    left: 16px;
    top: 16px;
}










/* .section{
    text-align: center;
}


.search{
    margin-top: 1.5rem;
}
.search input{
    height: 45px;
    width: 585px;
    background-color: #202124;
    border: 1px solid gray;
    border-radius: 7rem ; */

    /* padding: 1rem;  
}
.search input:hover{
    background-color: #303134;
    border: 1px solid #303134;
    box-shadow: rgba(0,0,0,0.5) 1.25px 1.25px 5px 1px;

}

.search input:focus{
    outline: none;
} */

          /* !-------------Icons-------- */

          /* .searchicon{
            color: gray;
            font-size: medium;
            position: relative;
            bottom: 31.5px;
            left: -270px;
          }


          .keyboard{
            color: rgba(255, 255, 255, 0.833);
            font-size: medium;
            position: relative;
            

          }


          .camera{
            color: blue;
            position: relative;
            bottom: 85px;
          } */