*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
}

.divheader{
    text-align: right;
}

.divheaderlinks{
    display: inline-block;
}

.divheaderbar{
    display: inline-block;

}

.divheaderimg{
    display: inline-block;

}

.headerlinks{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.headerlinks:hover{
    text-decoration: underline;
}

.headerbar{
    color: white;
}

.headerimg{
    height: 32px;
}