*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202124;
}

.divheader{
    text-align: right;
    padding-bottom: 1rem;
}

.divheaderlinks{
    display: inline-block;
    
    
}

.divheaderbar{
    display: inline-block;

}



.divheaderimg{
    display: inline-block;
    

}

.headerlinks{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.headerlinks:hover{
    text-decoration: underline;
}

.headerbar{
    color: white;
}
.headerbar:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 5px;
    cursor: pointer;
}

.headerimg{
    height: 32px;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

/* !----------Google-------- */

.google{
    text-align: center;
    margin-top: 5rem;
    
}








/*!-------------section----------- */

div.inline-block{
    display: inline-block;
}

.section{
    position: relative;
    text-align: center;
    /* border: 1px solid gray; */
    border-radius: 10rem;
    height: 50px;
    width: 600px;
    /* height: 45px;
    width: 585px; */
    margin: auto;
    margin-top: 1.5rem;
}

.section:hover{
    /* background-color: #303134;
    border: 1px solid #303134;
    box-shadow: rgba(0,0,0,0.5) 1.25px 1.25px 5px 1px;
    cursor:text; */
}

.section input{
    height: 45px;
    width: 585px;
    /* height: 45px;
    width: 579px; */
    border-radius: 7rem;
    background-color: #202124;
    /* background-color: red; */
    border: 1px solid gray;
    outline: none;
}

.section input:hover{
    background-color: #303134;
    border: 2px solid #303134;
    box-shadow: rgba(0,0,0,0.5) 1.25px 1.25px 5px 1px;
    
    
}

.searchicon{
    color: rgb(163, 162, 162);
    font-size: small;
    position: absolute;
    left: 23px;
    top: 16px;
}

.keyboard{
    color: rgb(163, 162, 162);
    font-size: large;
    position: absolute;
    right: 106px;
    top: 13.5px;

}


.microphone{
    color: rgb(163, 162, 162);
    font-size: large;
    position: absolute;
    right: 71px;

    top: 13.5px;
}

.camera{
    color: rgb(163, 162, 162);
    font-size: large;
    position: absolute;

    right: 29px;
    top: 13.5px;
}










         