p{
    background-color: red;
}


div{
    border: 1px solid blue;

    span{
        background-color: antiquewhite;
    }

    p{
        font-size: medium;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
}