* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: pink;
}

header {
  background: #30a7c3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
header img {
  border: 3px solid rgb(55, 54, 54);
  width: 90px;
  border-radius: 10px;
}
header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-right: 0.8rem;
}
header li {
  color: white;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
header li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff69b4;
  padding: 1rem;
}
.banner .section-left h2 {
  color: white;
  font-size: 2.21rem;
}
.banner .section-left p {
  color: white;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2rem;
}
.banner .section-left button {
  background: pink;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 32px;
}
.banner .section-left button:hover {
  background: rgb(252, 215, 221);
  cursor: pointer;
}
.banner img {
  width: 250px;
}

.cards {
  display: flex;
  gap: 0.8rem;
  padding: 0.5rem;
}
.cards .card1 {
  background: blue;
  color: red;
  height: 240px;
  width: 25%;
  border: 3px solid rgb(55, 54, 54);
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
.cards .card2 {
  background: purple;
  color: orange;
  height: 240px;
  width: 25%;
  border: 3px solid rgb(55, 54, 54);
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
.cards .card3 {
  background: rgb(151, 114, 120);
  color: white;
  height: 240px;
  width: 25%;
  border: 3px solid rgb(55, 54, 54);
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
.cards .card4 {
  background: rgb(120, 149, 84);
  color: orangered;
  height: 240px;
  width: 25%;
  border: 3px solid rgb(55, 54, 54);
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
.cards div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards div:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.1s;
}

.articles {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.articles .article1, .articles .article2 {
  height: 160px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: gray;
  border: 3px solid rgb(55, 54, 54);
  border-radius: 20px;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
}
.articles .article1:hover, .articles .article2:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: all 0.1s;
}
.articles .article2 {
  color: rgb(88, 0, 88);
  background: rgb(113, 113, 232);
}

footer p {
  background: gray;
  color: white;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.5rem;
}
footer .social-icons {
  padding: 0.5rem;
  gap: 0.1rem;
  display: flex;
  height: 20rem;
}
footer .social-icons .social1 {
  width: 20%;
  background-color: #8b8bab;
  font-size: 1rem;
  color: #990000;
}
footer .social-icons .social2 {
  width: 20%;
  background-color: #7c7ca1;
  font-size: 2rem;
  color: #55004e;
}
footer .social-icons .social3 {
  width: 20%;
  background-color: #6e6e96;
  font-size: 3rem;
  color: #0fa8a1;
}
footer .social-icons .social4 {
  width: 20%;
  background-color: #626288;
  font-size: 4rem;
  color: red;
}
footer .social-icons .social5 {
  width: 20%;
  background-color: #575779;
  font-size: 5rem;
  color: #64c217;
}
footer .social-icons:hover {
  cursor: pointer;
  transition: all 0.5s;
}
footer .social-icons:hover .social1 {
  width: 20%;
  background-color: #a9a9c1;
  font-size: 1rem;
  color: #990000;
}
footer .social-icons:hover .social2 {
  width: 20%;
  background-color: #b8b8cb;
  font-size: 2rem;
  color: #55004e;
}
footer .social-icons:hover .social3 {
  width: 20%;
  background-color: #c6c6d6;
  font-size: 3rem;
  color: #0fa8a1;
}
footer .social-icons:hover .social4 {
  width: 20%;
  background-color: #d5d5e1;
  font-size: 4rem;
  color: red;
}
footer .social-icons:hover .social5 {
  width: 20%;
  background-color: #e4e4eb;
  font-size: 5rem;
  color: #64c217;
}
footer .social-icons div:hover {
  border: 3px solid rgb(55, 54, 54);
}

/*# sourceMappingURL=style.css.map */
