*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(Netflix-4.jpg); */
    color: white;
}

div.container{
    width: 80%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 30px;
    /* max-width: 1240px;
    height: 1036px;
    margin: auto;
    margin-top: 30px;
    background-color: blueviolet; */
}

header{
    text-align: center;
}

h1{
    color: white;
    font-family: 'Bowlby One SC', cursive;
}

span{
    color: red;
}
h3{
    font-family: 'Source Code Pro', monospace;

}
textarea{
    resize: none;
}

.full-form{
    /* border: 2px solid red; */
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    margin: auto;
    padding: 30px 40px;
}

