*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Tilt Neon', cursive;
}
.header{
    background-color:#A9D9D0;
    padding: 1rem 1rem 1rem 2rem;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid #038C7F;
}





.header .left{
    flex: 1;
}


.header .right{
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.header .right a{
    
    text-decoration: none;
    color: black ;
}

.container{
    display: flex;
    justify-content: center;
}
.container .text{
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
    padding: 1rem;
    resize: none;
    margin-top: 2rem;
    width: 70%;
    height:500px;
}
.updown{
    display: flex;
    justify-content: center;
}
.down{
    width: 70%;
    align-items: center;
    display: flex;
}

.down  .left-div{
 flex: 1;
}
.down .button-div{
 flex: 1;
}
.down .right-div{
 flex: 1;
}



