* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px rgb(64, 64, 64); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 77); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161; 
}

body {
  height: 1000px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  padding: 1rem;
  width: 1200px;
  height: 78px;
  position: fixed;
  top: 0px;
  left: 160px;

  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}
header img {
  width: 50px;
}

header a {
  display: inline-block;
  color: rgb(77, 77, 77);

  text-decoration: none;
  /* font-family: 'Braah One', sans-serif; */
}

header a:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 2.3rem;
}

.header-right input {
    background-color: black;
    border: none;
    border-bottom: 2px solid rgb(40, 40, 40);
    /* border: 2px solid red; */
    width: 280px;
    height: 40px;
    color: rgb(198, 195, 195);
    font-size: 14px;
    padding-top: .5rem;

    font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
    
}

.header-right input:focus{
    outline: none;
}
.header-right i {
  margin-right: 0.5rem;
  color: rgb(77, 77, 77);
  font-size: x-large;
}
.header-right i:hover {
  cursor: pointer;
  color: white;
  transition: all .8s;
}

.banner1{
    width: 100%;
}
.banner1 img{
    width: 100%;
    /* border: 3px solid red; */
}

.banner2{
    margin-top: -5px;
    top: 100px;
    background-color: #F69D2D;
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 70px;
}

.banner2 img{
    width: 200px;
    position: relative;
    bottom: 30px;
}
.banner2 button{
    height: 25px;
    width: 70px;
  font-family: 'Ubuntu', sans-serif;
    
}



/* BUTTON_CSS ---------------------------------------*/
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 3px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
 
}
.button-55:active{
  transform: translate3d(0px, 5px, 0);
  

}

/* BUTTON_CSS -------------------------------------------------*/


