* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a:visited button{
    /* color: red; */
  

    
}

.ahmet{

    background-color: red;
}
