* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-area {
  display: flex;
  justify-content: center;
  gap: 20px;
}
body {
  background-color: #a5d7e8;
}
.text-area p {
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 5px;
}

.colors div {
  /* border: 1px solid rgb(0, 0, 0); */
  /* background-color: red; */
  height: 100px;
  width: 100px;
  border-radius: 10px;
 
}

.colors button {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}

.colors button:hover {
  cursor: pointer;
  transform: scale(1.04);

}

.colors button:active{
  transform: scale(.94);
  
} 