* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-area {
  display: flex;
  justify-content: center;
  gap: 20px;
}
body {
  background-color: #a5d7e8;
  /* background-color: #3C28F0; */
}


.container .score{
  position: relative;
  bottom: 21vh;
  left: 37vw;
}
.container .score p{
  display: inline-block;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;

}


.text-area p {
  margin-bottom: 10px;
  font-family: "Quicksand", sans-serif;
  font-size: 32px;
  letter-spacing: 2px;

}

.text-area #text{
  letter-spacing: 3px;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.colors div {
  /* border: 1px solid rgb(0, 0, 0); */
  /* background-color: red; */
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
}

.colors button {
  background-color: white;
  border: none;
  outline: none;
  border-radius: 10px;
}

.colors button:hover {
  cursor: pointer;
  transform: scale(1.04);

}

.colors button:active{
  transform: scale(.94);
  
} 

.wrong{
  border: 1px solid red;
  transform: scale(2);

}

.correct{
  border: 1px solid green;
  transform: scale(2);
}

.zero{
  border: none;
  transform: scale(1);
}